Package: com.vitataf.homegesture
Name: HomeGesture
Depends: mobilesubstrate
Version: 1.3.2
Architecture: iphoneos-arm
Description: Enable iPhone X home gesture on other devices.
Maintainer: Lone Wolf Akela
Author: VitaTaf
Section: Tweaks
