Package: com.lonewolf.vitataf.homegesture
Name: HomeGesture_Wolf
Depends: mobilesubstrate
Version: 1.3.2
Architecture: iphoneos-arm
Description: Enable iPhone X home gesture on other devices. This is a modified version by Lone Wolf Akela.
Maintainer: Lone Wolf Akela
Author: VitaTaf
Section: Tweaks
